@import "../reset.css";

.menu{
  max-width: 80px;
}

.dropdown {
	position: relative;
}
/* sublist */
.dropdown__list {
	position: absolute;
	top: 0;
	left: 0;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
	width: 100%;
	opacity: 0;
	height: 0;
	overflow: hidden;
  
  left: 100%;
}
.dropdown:hover .dropdown__list,
.dropdown_active .dropdown__list {
	opacity: 100%;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
}
