@import "../reset.css";

.menu{
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
	background-color: aliceblue;
	display: flex;
}
.drop {
	position: relative;
}
.link {
	display: block;
	padding: 5px;
	color: inherit;
	text-decoration: underline;
	outline: none;
}
.link:hover, 
.link:focus {
	background-color: blanchedalmond;
}
.drop__title {
	width: 100%;
}
.drop__body {
	background-color: aliceblue;
	position: absolute;
	top: 100%;
  left: 0%;
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
	width: 100%;
	opacity: 0;
	height: 0;
	overflow: hidden;
}
.drop:hover .drop__body,
.drop_active .drop__body {
	opacity: 100%;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
}
@media (max-width: 767px) {
	.menu{
		flex-direction: column;
	}
	.drop__body {
		background-color: aliceblue;
		position: absolute;
		top: 0%;
		left: 100%;
		min-width: -webkit-max-content;
		min-width: -moz-max-content;
		min-width: max-content;
		width: 100%;
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
}