@import url(../reset.css);

body {
	background-color: azure;
	color: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 24px;
}

.canvas {
	padding: 20px;
}

.btn{
  padding: 10px;
  font-size: inherit;
  background-color: cornflowerblue;
  border-radius: 5px;
  box-shadow: 0 5px 0px 0px rgba(0, 0, 0, 0.5);
}
.btn:hover {
	background-color: deepskyblue;
}
.btn:active {
	transform: translate(0, 5px);
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  visibility: hidden;
  transition: all 0.2s ease 0s;
}
.modal_opened{
  opacity: 100%;
  visibility: visible;
}
.overlay {
  
}

.modal-body {
  padding: 30px;
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hide-modal {
  padding: 10px;
	font-size: inherit;
	background-color: cornflowerblue;
	border-radius: 5px;
	box-shadow: 0 5px 0px 0px rgba(0, 0, 0, 0.5);
}